body{
    position: absolute;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    

}
nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    background-color: #2b795c;
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.52);
-webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.52);
-moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.52);
z-index: 10000000000;
width:100%;

}

.left-nav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
    
    .right-Nav{
        position: relative;
    
    }
    .right-Nav a{
        margin-left: 25px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 400;
        color: black;
    
        
    }
    .right-Nav a.active{
        color: sandybrown;
        text-decoration: none;
        font-weight: bold;
       
    }
    .left-nav img{
        height: 50px;
        width: auto;
    }

    .pic{
        background-image: url(../img/Bus-Fares-in-Nelspruit.jpg) ;
                
        position:fixed;
        
    z-index: -999 !important;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	will-change: transform;
    filter: brightness(50%);
    
    }

.row22{
    position: relative;

    

    height: 100px;
    width: 1150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 20px;

    
  
    
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 500px;
    margin-top: 230px;
    background-color: whitesmoke;
 

    box-shadow: 0px 0px 2px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 2px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 3px rgba(0,0,0,0.75);

    /*box-shadow: 0px 0px 2px 3px rgba(70, 64, 64, 0.75);
    -webkit-box-shadow: 0px 0px 2px 3px rgba(138, 45, 45, 0.75);
    -moz-box-shadow: 0px 0px 2px 3px rgba(180, 16, 16, 0.75);*/
}
.row1{
position: relative;
display: flex;
margin:0px;
padding:5px;
flex-direction: column;
border-radius: 15px;
margin-top: 17px;



}

.row1 button{
    position: relative;
    display: flex;
    margin: 5px;
    margin-top: 25px;
    width: 150px;
    border-radius: 15px;
    background-color:  sandybrown;
    

    }
    .row1 button:hover{
        background-color: rgb(116, 92, 72);
        
    }

    .right select{
        position: relative;
        border-radius: 15px;
        
        display: flex;
        
    border-radius: 7px;
    
    width: 135px;
    height: 35px;
    }
    .right input{
        position: relative;
        border-radius: 15px;
        
        display: flex;
        
         border-radius: 7px;
    
         width: 135px;
         height: 35px;
    }
    .left{
        margin-left: 10px;
    }

    .conf-booking{
        position: relative;
        height: 315px;
        /* width: 68%; */
        background-color: #2b795c;
        
    margin-left: 100px;
    margin-right: 100px;
    bottom: 490px;
    display: none;

    }
    .conf-booking .div-inner{
        position: absolute;
        height: 290px;
        width: 98%;
        background-color: whitesmoke;
        margin-left: 10px;
        margin-bottom: 325px;
    }
    .div-inner
    {
       top: 10px;
    }
    .div-inner h4{
        margin-left: 25px;
    }
    .row66{
      position: relative;
      display: flex;
      flex-direction: row;  
      background-color: #2b795c;
      height:2px;
      
    }
    .row66 h2{
        margin-top: 25px;
        margin-left: 10px;
    }
    .left
    {

        width: 50%;
        margin-left: 40px;
        margin-right: 20px;
        
        flex-direction: column;
    }
    .left img{
        height: 25px;
        margin-left: 25px;
    } 
    .right
    {
        position: relative;
        width: 50%;
        margin-right: 10px;
    }
    .right input{
        outline: 0;
        border: 0;
        background-color: whitesmoke;
    }
    .right h6
    {
        margin-left: 25px;
        margin-top: -5px;
    }
    .left h6
    {
        margin-left: 25px;
    }
    .left input{
        outline: 0;
        border: 0;
        font: bold;
        background-color: whitesmoke;

    }
    .right img{
        height: 25px;
        margin-left: 25px;
        display: flex;
         justify-content: center;
         align-items: center;
         text-align: center;
        
    } 
    .far-right
    {position: relative;
        width:15%;
        margin-right: 10px;
        
    }
    .far-right input{
        position: relative;
        width: 130px;
        border: 0;
        outline: 0;
        font-size: 39px;
        font-weight: 500;
        margin-left: 42px;
        /* margin-top: 1px; */
        /* bottom: 25px; */
        background-color:whitesmoke;
    }
    
    .far-right h1{
        position: absolute;
        margin-left: 10px;
        font-size: 42px;
        /* color: red; */
        /* margin-top: 25px; */
        /* flex-direction: row; */
        bottom: -133px;
         
        


    }
    .far-right button{
        background-color: sandybrown;
        border-radius: 10px;
        height: 40px;
        width: 120px;
        margin-left: 10px;
        margin-top: 20px;

    }
    .far-right button:hover{
        background-color: rgb(116, 92, 72);

    }
    
    